extends layout

block content
  h1 form POST
  
  form(method="POST", action="/form/post-form-data")
    div 
      input(name="username",  value="vasisualiy")
    div 
      input(type="password", name="pass", value="qwerty789")
    div 
      input(type="submit", value="send")  