extends layout

block content
  h1 form
  

  ul
    li
      a(href="/form/get-form") GET FORM
    li 
      a(href="/form/get-form-js") GET FORM Fetch
    li 
      a(href="/form/post-form") POST FORM 
