doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    body
      nav Navigation 
      ul
        li
          a(href="/") main
        li
          a(href="/contacts") contact
        li
          a(href="/form") form
          ul
            li
              a(href="/contacts/kyiv") Kyiv 
            li
              a(href="/contacts/lviv") Lviv
            li
              a(href="/contacts/kharkiv") Kharkiv
        li
          a(href="/movies") movies      

  body
    block content
